.navbar-brand img{
    max-width: 60px;
    max-height: 60px;
}
.carrito{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.carrito button, p{
    margin: 0px 5px 0px 5px;
}
.tit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    color: rgb(247, 242, 242);
}