.ItemListContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.ItemListContainer img{
    max-width: 300px;
    max-height: 300px;
    margin-top: 20px;
}

.cardProducto {
    height: auto;
    width: 18rem;
    margin: 0px auto;
    display: flex;
    min-width: 350px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 4em;
    height: auto;
    margin: 15px;
    padding: 0.7em;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: #fff;
    font-family: cursive;
    font-size: 1.2rem;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 1.25px 1.25px 10px rgba(0, 0, 0, 0.5);
}

.card img {
    width: 100%;
}

.botonscale {
    transform: scale (1.2);
}
.cardProductos {
    margin: 4px;
    align-items: center;
    justify-content: center;

}
.cartWidget {
    position: relative;
    right: 3%;
    color:white;
}

.nav-item {
    margin: 10px;
}

.cantCarrito {
    position: relative;
    left: 15%;
}

.itemDetail {
    max-width: 540px;
    margin-top: 20px;
}